@use './variables' as *;

.card {
  border: 1px solid $dark-100;
  border-radius: 1.4rem;
  width: 100%;
  max-width: 40rem;
  margin-inline: auto;
  padding: 1.6rem;

  .header {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 0.8rem;
    margin-bottom: 2.4rem;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: all 0.3s ease-in-out;
    }
  }

  .body {
    span {
      padding: 4px 8px;
      background: $dark-100;
      color: $light-100;
      border-radius: 0.4rem;
      display: inline-block;
      margin-bottom: 0.8rem;
    }

    > p {
      font-size: 1.8rem;
      color: $dark-100;
      margin-bottom: 2.4rem;
    }

    h3 {
      font-size: 3.2rem;
      color: $dark-100;
      margin-bottom: 1.8rem;
    }

    .text {
      color: $dark-100;
      opacity: 0.7;
    }
  }

  footer {
    display: flex;
    align-items: center;
    gap: 1.8rem;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    p {
      font-size: 1.6rem;
      color: $dark-100;
      font-weight: 600;
    }
  }
}
