$white: #fff;
$black: #000;
$redlight: hsl(0, 36%, 70%);
$reddarkness: hsl(0, 93%, 68%);
$greyReding: hsl(0, 6%, 24%);
$linear1: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
$linear2: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
$fontJosefin: 'Josefin Sans', sans-serif;