@import '_variables';

::selection{
	background: $black;
	color: $white;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	body{
		display: grid;
		grid-template-rows: 1fr 50px;
		font-family: $fontJosefin;
	}
}
.container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	height: 100vh;
}
.hero-container{
	display: flex;
}
.hero-desktop{
	width: 100%;
	min-width: 600px;
}
.hero-mobile{
	width: 100%;
	display: none;
}
.content-wrapper{
	background: url('../images/bg-pattern-desktop.svg') no-repeat center;
	background-size: cover;
	padding: 5em 2em 0 10em;
}
.desktop-logo{
	display: block;
}
.logo-container{
	display: none;
}
.logo{
	object-fit: contain;
}
.title{
	margin-top: 2.5em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	color: $redlight;
}
.coming-soon{
	color: $greyReding;
	font-size: 3em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3em;
	margin-bottom: .5em;
	width: 50%;
}
.description p{
	color: $redlight;
	width: 60%;
	line-height: calc(18px * 1.5);
	margin-bottom: 2em;
}
form{
	width: 100%;
	position: relative;
}
.input-container{
	width: 65%;
	min-width: 400px;
}
#txtEmail{
	border: 1px solid $redlight;
	border-radius: 50px;
	background: transparent;
	padding: 0 2em;
	margin-left: .2em;
	height: 50px;
	width: 70%;
	outline: none;
}
.danger-button{
	background: $reddarkness;
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	top: 20px;
	right: 63%;
	transition: all .3s ease-in-out;
	opacity: 0;
}
.danger-text{
	font-size: 12px;
	font-weight: 600;
	color: $redlight;
	padding: .8em 2em;
	transition: all .3s ease-in-out;
	opacity: 0;
}
.btn{
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	height: 55px;
	border: none;
	border-radius: 50px;
	outline: none;
	width: 90px;
	transform: translate3d(-55px, 3px, 0);
	box-shadow: 0 10px 30px -5px $redlight;
	cursor: pointer;
}
input::placeholder{
	color: $redlight;
}
.btn:active{
	background: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}

@media only screen and (max-width: 1000px){
	.hero-desktop{
		min-width: 480px;
	}
}

@media only screen and (max-width: 768px){
	.container{
		height: initial;
		flex-direction: column;
	}
	.content-wrapper{
		padding: 0;
	}
	.logo-container{
		display: block;
	}
	.desktop-logo{
		display: none;
	}
	.logo{
		padding: 2em;
	}
	.title{
		font-size: 2.5rem;
		margin-top: 1.5em;
		text-align: center;
		width: 100%;
	}
	.hero-desktop{
		display: none;
	}
	.hero-mobile{
		display: block;
	}
	.coming-soon{
		width: 100%;
		font-size: 2.5rem;
		text-align: center;
		padding: 0 1em;
	}
	.description p{
		text-align: center;
		font-size: .8rem;
		width: 100%;
		padding: 0 3.5rem;
	}
	.input-container{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.danger-button{
		top: 13px;
		right: 34%;
	}
	.danger-text{
		text-align: center;
	}
	.btn{
		position: absolute;
		height: 50px;
		transform: translate3d(-55px, 0, 0);
		right: 0;
	}
}




footer{
	background: $black;
	color: $white;
	text-align: center;
	padding: 20px;
}
footer a{
	color: $white;
	text-decoration: none;
}