$dark-purple: #24053e;
$green-bg: #44ffa1;
$davy-grey: #584d62;
$ghost-white: #fcf8ff;
$white-color: #fff;

$dark-100: #101010;
$light-100: #f4f4f4;

$font-title: 'Fraunces', serif;
$font-body: 'Manrope', sans-serif;
