// COLOR
$light-100: #f9f9f9;

$dark-100: #101010;
$dark-200: #202020;

$gray-100: #afafaf;

$primary-100: #658e76;

$red-100: #6d2f48;

$bg-body: #f3e5d8;
$bg-body-200: #ffeef9;

$title-color: #834530;

// TYPES
$font-title: 'Merriweather', serif;
$font-body: 'Poppins', sans-serif;
