$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$blueDark: hsl(249, 10%, 26%);
$blueGreyish: hsl(246, 25%, 77%);
$fontPopns: 'Poppins', sans-serif;
$white: #fff;
$boxShadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
$black: #000;
$white: #fff;