$white: #fff;
$black: #000;
$blueGrayish: hsl(216, 30%, 68%);
$violetDark: hsl(256, 26%, 20%);
$violetDark2: hsl(270, 9%, 17%);
$violetDarkGrayish: hsl(273, 4%, 51%);
$greyLight: hsl(0, 0%, 98%);
$fontDM: 'DM Serif Display', serif;
$fontKarla: 'Karla', sans-serif;
