$white: #fff;
$black: #000;
$fontKumbh: 'Kumbh Sans', sans-serif;

$cyan: hsl(185, 75%, 39%);
$blueDark: hsl(229, 23%, 23%);
$blueLight: hsl(227, 10%, 46%);
$grayDark: hsl(0, 0%, 59%);
$green: #1ab912;
$closed: #E54;
$dark: #222222;
$gold: gold;
$lightgrey: lightgrey;
$social1: #3d5b9a;
$social2: #41b1f8;
$social3: #4f4581;
$social4: #1768fe;