$white: #fff;
$black: #000;
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$blueDark: hsl(234, 12%, 34%);
$blueGrayish: hsl(229, 6%, 66%);
$grayLight: hsl(0, 0%, 98%);
$boxShadow: 0px 5px 40px -10px rgba(0,0,0,.2);
$fontPoppins: 'Poppins', sans-serif;